{% extends "::base.html.twig" %}

{% block title %}AcmtoolAppBundle:AdminController:Authentificate{% endblock %}

{% block body %}
<h1>Welcome to the AdminController:Authentificate page</h1>
{% endblock %}
