{% extends "::base.html.twig" %}

{% block title %}AcmtoolAppBundle:Authentification:ApiAuthentification{% endblock %}

{% block body %}
<h1>Welcome to the Authentification:ApiAuthentification page</h1>
{% endblock %}
